<h1>以下の内容で、つぶやきを投稿する。</h1>
<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>本文:<%= @post.content %></p>
  <button type="button" class="btn btn-warning btn-xs"><%= form.submit  "投稿する" %></button>

<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <button type="button" class="btn btn-primary btn-xs"><%= form.submit "もどる", name: 'back'  %></button>
<% end %>
