<p id="notice"><%= notice %></p>

<h1>つぶやき　一覧</h1>
<table>
  <thead>
    <tr>
      <th>つぶやき</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><button type="button" class="btn btn-primary btn-xs"><%= link_to 'つぶやきをみる', post %></button></td>
        <td><button type="button" class="btn btn-warning btn-xs"><%= link_to 'つぶやきを編集する', edit_post_path(post) %></button></td>
        <td><button type="button" class="btn btn-danger btn-xs"><%= link_to 'つぶやきを消す', post, method: :delete, data: { confirm: '本当に消していいですか？' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-warning btn-xs"><%= link_to '新しいつぶやきを投稿する', new_post_path %></button>
